.container {
    max-width: 495px;
    margin: 0 auto;
}

// header start
.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
    &__logo {
        position: absolute;
        left: 20px;
        top: 40px;
        img {
            max-width: 82px;
        }
    }
    &__menu {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: start;
            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                /* identical to box height */
                color: #263238;
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }
    &__button {
        display: none;
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            color: #000000;
            padding: 12px 40px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                /* identical to box height */
                color: #FFFFFF;
                background: #263238;
                border: 2px solid #263238;
                border-radius: 5px;
                padding: 12px 40px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            }
        }
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

#menu__toggle:checked~.menu__btn {
    left: 200px !important;
}

.menu__btn {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    transition-duration: .25s;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .45s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .15s;
}

.menu__item {
    display: block;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    margin: 10px;
}

.dontadap {
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 16px 65px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    &:hover {
        padding: 16px 65px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #000000;
        color: #FFFFFF;
        background: #263238;
        border: 2px solid #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
}

// header end
// ----------------------------
//  main page start
.main-page {
    margin-top: 11px;
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__body {
        text-align: center;
        order: 2;
    }
    &__body-title {
        margin: 0 auto;
        padding-bottom: 40px;
        max-width: 100%;
        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 45px;
            /* identical to box height, or 132% */
            color: #000000;
        }
    }
    &__body-discription {
        padding-bottom: 61px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8F95A5;
        }
    }
    &__body-button {
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            color: #FFFFFF;
            padding: 24px 102px;
            background: #263238;
            border-radius: 5px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                color: #000000;
                border: 2px solid #263238;
                background: #FFFFFF;
                border-radius: 5px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
                padding: 22px 100px;
            }
        }
    }
    &__img {
        img {
            max-width: 425px;
        }
    }
}

// main page end
// ----------------------------
// skills start
.skills {
    &__header {
        margin-top: 56px;
        text-align: center;
        margin-bottom: 37px;
    }
    &__title {
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 80px;
            /* identical to box height, or 267% */
            color: #000000;
        }
    }
    &__row {
        display: none;
    }
}

.skills-phone {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }
}

.skills {
    &__column-speacking {
        max-width: 240px;
        margin: 0;
        margin-bottom: 9px;
    }
    &__column-writing {
        max-width: 240px;
        margin: 0;
        margin-bottom: 9px;
    }
    &__column-reading {
        max-width: 240px;
        margin: 0;
        max-height: 564px;
    }
    &__column-listening {
        display: flex;
        flex-direction: column;
        max-width: 240px;
        margin: 0;
        max-height: 564px;
    }
}

.speacking-img {
    padding-bottom: 1px;
    img {
        max-width: 185px;
    }
}

.speacking-title {
    padding-left: 15px;
    padding-top: 1px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        /* or 444% */
        color: #263238;
    }
}

.speacking-body {
    padding-left: 15px;
    max-width: 200px;
}

.speacking-button {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-top: 60px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        transform: rotate(-0.26deg);
        padding: 14px 54px;
    }
}

.writing-img {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 1px;
    img {
        max-width: 185px;
    }
}

.writing-title {
    margin: 0;
    padding: 0;
    padding-top: 190px;
    padding-left: 15px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        /* or 444% */
        color: #263238;
    }
}

.writing-body {
    padding-left: 15px;
    padding-bottom: 10px;
}

.writing-button {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-top: 224px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        transform: rotate(-0.26deg);
        padding: 14px 54px;
    }
}

.reading-img {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    img {
        position: static;
        max-width: 235px;
    }
}

.reading-title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        /* or 444% */
        color: #263238;
    }
}

.reading-body {
    padding-left: 15px;
}

.reading-button {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-top: 45px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        transform: rotate(-0.26deg);
        padding: 14px 54px;
    }
}

.listening-content {
    margin: 0;
    padding: 0;
    order: 2;
}

.listening-title {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 15px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        /* or 444% */
        color: #263238;
    }
}

.listening-body {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.listening-button {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-top: 70px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        transform: rotate(-0.26deg);
        padding: 14px 54px;
    }
}

.listening-img {
    padding-top: 50px;
    padding-left: 15px;
    img {
        max-width: 215px;
    }
}

// skills end
// ----------------------------
// about us start
.about-us {
    margin-top: 82px;
    &__row {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    &__body {
        order: 3;
        &_title {
            display: none;
            order: 1;
            padding-bottom: 23px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                /* identical to box height, or 267% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 40px;
            p {
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #8F95A5;
            }
        }
        &_numbers {
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
    }
    &__img {
        padding-bottom: 25px;
        img {
            max-width: 352px;
        }
    }
}

.about-us__title-phone {
    display: block;
}

.about-us__body_title-phone {
    order: 1;
    padding-bottom: 23px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        /* identical to box height, or 267% */
        color: #000000;
    }
}

.numbers {
    &__element {
        &_number {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 40px;
            /* identical to box height, or 364% */
            color: #2A3246;
        }
        &_name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}

// about us end
// ------------------------
// price start
.price {
    display: none;
}

.price-low {
    padding-top: 110px;
    display: block;
    &__header {
        text-align: center;
    }
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */
        color: #000000;
        padding-bottom: 80px;
    }
    &__row {}
    &__columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
    }
    &__column {
        align-items: center;
        text-align: center;
        padding-bottom: 90px;
        &_img {
            img {
                max-width: 314px;
            }
        }
        &_body {
            text-align: center;
            align-items: center;
        }
        &_body-title {
            padding-top: 40px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                /* identical to box height, or 117% */
                color: #263238;
            }
        }
        &_body-discription {
            max-width: 350px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #8F95A5;
            }
        }
        &_body-price {
            max-width: 205px;
            margin: 0 auto;
            padding-top: 31px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 33px;
                /* identical to box height */
                color: #263238;
                border-radius: 5px;
                padding: 5px 12px;
                background: #EEEEEE;
            }
        }
    }
}

.container {}

.span-class {}

//  price end
// --------------------------
// contact us start
.contact-us__title-phone {
    display: block;
    text-align: center;
    padding-bottom: 70px;
}

.contact-us__body_title-phone {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    /* identical to box height, or 267% */
    color: #000000;
}

.contact-us {
    margin-top: 140px;
    margin-bottom: 132px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        padding-bottom: 60px;
        img {
            max-width: 358px;
        }
    }
    &__body {
        &_title {
            display: none;
            padding-bottom: 1px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                /* identical to box height, or 267% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 26px;
            max-width: 486px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #8F95A5;
            }
        }
        &_form {
            align-items: center;
            padding-left: 20px;
        }
    }
}

.form-container {}

.btn-otp {
    width: 163px;
    height: 60px;
    position: absolute;
    right: 10%;
    background: #263238;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    &:hover {
        color: #000000;
        border: 2px solid #263238;
        background: #FFFFFF;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
}

#email {
    width: 440px;
    height: 60px;
    padding: 16px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #8F95A5;
    margin-right: 4px;
}

// contact us end
// -----------------------
// footer start
.footer {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #C4C4C4;
    }
    &__logo {
        max-width: 89px;
    }
    &__content {
        padding: 35px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}