.container {
    max-width: 720px;
    margin: 0 auto;
}

// header start
.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
    &__logo {
        img {
            max-width: 82px;
        }
    }
    &__menu {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: start;
            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                /* identical to box height */
                color: #263238;
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }
    &__button {
        display: none;
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            color: #000000;
            padding: 12px 40px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                /* identical to box height */
                color: #FFFFFF;
                background: #263238;
                border: 2px solid #263238;
                border-radius: 5px;
                padding: 12px 40px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            }
        }
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

#menu__toggle:checked~.menu__btn {
    left: 200px !important;
}

.menu__btn {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    transition-duration: .25s;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .45s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .15s;
}

.menu__item {
    display: block;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    margin: 10px;
}

.dontadap {
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 16px 65px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    &:hover {
        padding: 16px 65px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #000000;
        color: #FFFFFF;
        background: #263238;
        border: 2px solid #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
}

// header end
// ----------------------------
//  main page start
.main-page {
    margin-top: 61px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body {
        max-width: 501px;
    }
    &__body-title {
        max-width: 386px;
        padding-bottom: 40px;
        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 45px;
            /* or 125% */
            color: #000000;
        }
    }
    &__body-discription {
        max-width: 550px;
        padding-bottom: 61px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8F95A5;
        }
    }
    &__body-button {
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            color: #FFFFFF;
            padding: 19px 67px;
            background: #263238;
            border-radius: 5px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                color: #000000;
                border: 2px solid #263238;
                background: #FFFFFF;
                border-radius: 5px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
                padding: 17px 65px;
            }
        }
    }
    &__img {
        img {
            max-width: 352px;
        }
    }
}

// main page end
// ----------------------------
// skills start
.skills {
    &__header {
        margin-top: 56px;
        text-align: center;
        margin-bottom: 37px;
    }
    &__title {
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 80px;
            /* identical to box height, or 267% */
            color: #000000;
        }
    }
    &__row {
        display: none;
    }
}

.skills-phone {
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
}

.skills {
    &__column-speacking {
        max-width: 40%;
    }
    &__column-writing {
        max-width: 40%;
    }
    &__column-reading {
        max-width: 40%;
    }
    &__column-listening {
        display: flex;
        flex-direction: column;
        max-width: 40%;
    }
}

.speacking-img {}

.speacking-title {}

.speacking-body {}

.speacking-button {}

.writing-img {}

.writing-title {}

.writing-body {}

.writing-button {}

.reading-img {}

.reading-title {}

.reading-body {}

.reading-button {}

.listening-content {}

.listening-title {}

.listening-body {}

.listening-button {}

.listening-img {}

// skills end
// ----------------------------
// about us start
.about-us {
    margin-top: 82px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__body {
        &_title {
            padding-bottom: 23px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                /* identical to box height, or 267% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 40px;
            max-width: 320px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #8F95A5;
            }
        }
        &_numbers {
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
    }
    &__img {
        img {
            max-width: 295px;
        }
    }
}

.numbers {
    &__element {
        &_number {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 40px;
            /* identical to box height, or 364% */
            color: #2A3246;
        }
        &_name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}

// about us end
// ------------------------
// price start
.price {
    &__header {
        margin-top: 88px;
        text-align: center;
    }
    &__title {
        padding-bottom: 40px;
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 80px;
            /* identical to box height, or 267% */
            color: #000000;
        }
    }
    &__row {}
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        max-width: 30%;
        &_img {
            height: 220px;
            img {
                max-width: 220px;
            }
        }
        &_body {
            display: flex;
            flex-direction: column;
        }
        &_body-title {
            padding-bottom: 20px;
            max-width: 124px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                /* or 140% */
                color: #263238;
            }
        }
        &_body-discription {
            padding-bottom: 70px;
            max-height: 84px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #8F95A5;
            }
        }
        &_body-price {
            text-align: center;
            max-width: 240px;
            padding-top: 20px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height */
                color: #263238;
            }
        }
    }
}

.self-study {
    max-width: 150px;
}

.span-class {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #546269;
}

//  price end
// --------------------------
// contact us start
.contact-us {
    margin-top: 262px;
    margin-bottom: 132px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        img {
            max-width: 233px;
        }
    }
    &__body {
        &_title {
            padding-bottom: 1px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                /* identical to box height, or 267% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 26px;
            max-width: 376px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #8F95A5;
            }
        }
        &_form {}
    }
}

.form-container {}

.btn-otp {
    width: 145px;
    height: 50px;
    background: #263238;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    &:hover {
        color: #000000;
        border: 2px solid #263238;
        background: #FFFFFF;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
}

#email {
    width: 253px;
    height: 50px;
    padding: 16px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #8F95A5;
    margin-right: 4px;
}

// contact us end
// -----------------------
// footer start
.footer {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #C4C4C4;
    }
    &__logo {}
    &__content {
        padding: 55px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}