@import "nullstyle";
.container {
    max-width: 1340px;
    margin: 0 auto;
}

// header start
.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 57px;
    }
    &__logo {
        img {
            max-width: 106px;
        }
    }
    &__menu {
        width: 472px;
        ul {
            display: flex;
            justify-content: space-between;
            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                /* identical to box height */
                color: #263238;
                &:hover {
                    border-bottom: 2px solid #263238;
                }
            }
        }
    }
    &__button {
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            /* identical to box height */
            color: #000000;
            border: 2px solid #263238;
            border-radius: 5px;
            padding: 17px 57px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                /* identical to box height */
                color: #FFFFFF;
                background: #263238;
                border: 2px solid #263238;
                border-radius: 5px;
                padding: 17px 57px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            }
        }
    }
}

// header end
// ----------------------------
//  main page start
.main-page {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body {
        max-width: 661px;
    }
    &__body-title {
        max-width: 386px;
        padding-bottom: 40px;
        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 80px;
            /* or 125% */
            color: #000000;
        }
    }
    &__body-discription {
        max-width: 550px;
        padding-bottom: 61px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #8F95A5;
        }
    }
    &__body-button {
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;
            /* identical to box height */
            color: #FFFFFF;
            padding: 32px 118px;
            background: #263238;
            border-radius: 15px;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            &:hover {
                color: #000000;
                border: 2px solid #263238;
                background: #FFFFFF;
                border-radius: 15px;
                transition: border-color 0.5s, background-color 0.5s, color 0.5s;
                padding: 30px 116px;
            }
        }
    }
    &__img {}
}

// main page end
// ----------------------------
// skills start
.skills {
    &__header {
        margin-top: 247px;
        text-align: center;
        margin-bottom: 96px;
    }
    &__title {
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            /* identical to box height, or 167% */
            color: #000000;
        }
    }
    &__row {
        display: flex;
    }
    &__column-speacking {
        max-width: 435px;
        background: #F5F5F5;
        border-radius: 10px;
        margin-right: 9px;
    }
    &__column-three {
        display: flex;
        flex-direction: column;
        margin-left: 9px;
    }
    &__column-two {
        display: flex;
    }
    &__column-writing {
        background: #F5F5F5;
        border-radius: 10px;
        margin: 0px 9px 9px 0px;
        max-width: 434px;
    }
    &__column-reading {
        background: #F5F5F5;
        border-radius: 10px;
        max-width: 434px;
        margin: 0px 9px 9px 9px;
    }
    &__column-listening {
        display: flex;
        align-items: center;
        background: #F5F5F5;
        border-radius: 10px;
        margin: 9px 9px 0px 0px;
    }
}

.speacking-img {
    padding: 35px 23px;
    img {
        max-width: 390px;
    }
}

.speacking-title {
    padding-left: 43px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */
        color: #263238;
    }
}

.speacking-body {
    padding-left: 43px;
    max-width: 347px;
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
    }
}

.speacking-button {
    padding-left: 43px;
    padding-top: 53px;
    padding-bottom: 108px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #FFFFFF;
        padding: 17px 63px;
        background: #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        &:hover {
            color: #000000;
            border: 2px solid #263238;
            background: #F5F5F5;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            padding: 15px 61px;
            border-radius: 5px;
        }
    }
}

.writing-img {
    padding-left: 103px;
    padding-right: 9px;
    img {
        position: absolute;
        width: 293px;
    }
}

.writing-title {
    padding-top: 251px;
    padding-left: 43px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */
        color: #263238;
    }
}

.writing-body {
    padding-left: 43px;
    padding-right: 50px;
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
    }
}

.writing-button {
    padding-left: 43px;
    padding-top: 53px;
    padding-bottom: 59px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #FFFFFF;
        padding: 15px 52px;
        background: #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        &:hover {
            color: #000000;
            border: 2px solid #263238;
            background: #F5F5F5;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            padding: 13px 50px;
            border-radius: 5px;
        }
    }
}

.reading-img {
    padding-right: 9px;
    img {
        position: absolute;
        width: 371px;
    }
}

.reading-title {
    padding-top: 251px;
    padding-left: 43px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */
        color: #263238;
    }
}

.reading-body {
    padding-left: 43px;
    padding-right: 20px;
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
    }
}

.reading-button {
    padding-left: 43px;
    padding-top: 53px;
    padding-bottom: 59px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #FFFFFF;
        padding: 15px 52px;
        background: #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        &:hover {
            color: #000000;
            border: 2px solid #263238;
            background: #F5F5F5;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            padding: 13px 50px;
            border-radius: 5px;
        }
    }
}

.listening-title {
    padding-left: 48px;
    padding-top: 53px;
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        /* identical to box height, or 267% */
        color: #263238;
    }
}

.listening-img {
    padding-right: 25px;
    img {
        max-width: 381px;
    }
}

.listening-body {
    padding-left: 48px;
    padding-right: 90px;
    padding-bottom: 40px;
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
    }
}

.listening-button {
    padding-left: 48px;
    padding-top: 25px;
    padding-bottom: 93px;
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #FFFFFF;
        padding: 15px 52px;
        background: #263238;
        border-radius: 5px;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        &:hover {
            color: #000000;
            border: 2px solid #263238;
            background: #F5F5F5;
            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
            padding: 13px 50px;
            border-radius: 5px;
        }
    }
}

// skills end
// ----------------------------
// about us start
.about-us {
    margin-top: 182px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__body {
        &_title {
            padding-bottom: 23px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 80px;
                /* identical to box height, or 167% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 40px;
            max-width: 635px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #8F95A5;
            }
        }
        &_numbers {
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
    }
    &__img {
        img {
            max-width: 500px;
        }
    }
}

.numbers {
    &__element {
        &_number {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            /* identical to box height, or 167% */
            color: #2A3246;
            opacity: 0;
        }
        &_name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}

// about us end
// ------------------------
// price start
.price {
    &__header {
        margin-top: 222px;
        text-align: center;
    }
    &__title {
        padding-bottom: 71px;
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            /* identical to box height, or 167% */
            color: #000000;
        }
    }
    &__row {}
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        max-width: 30%;
        &_img {
            height: 350px;
            img {
                max-width: 350px;
            }
        }
        &_body {
            display: flex;
            flex-direction: column;
        }
        &_body-title {
            padding-bottom: 20px;
            max-width: 554px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 48px;
                /* identical to box height, or 160% */
                color: #263238;
            }
        }
        &_body-discription {
            padding-bottom: 30px;
            max-height: 90px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #8F95A5;
            }
        }
        &_body-price {
            text-align: center;
            max-width: 240px;
            padding-top: 20px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
                /* identical to box height */
                color: #263238;
                background: #EEEEEE;
                border-radius: 5px;
                padding: 5px 15px;
            }
        }
    }
}

.span-class {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #546269;
}

//  price end
// --------------------------
// contact us start
.contact-us {
    margin-top: 262px;
    margin-bottom: 132px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        img {
            max-width: 477px;
        }
    }
    &__body {
        &_title {
            padding-bottom: 27px;
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 80px;
                /* identical to box height, or 167% */
                color: #000000;
            }
        }
        &_discription {
            padding-bottom: 57px;
            max-width: 776px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #8F95A5;
            }
        }
        &_form {}
    }
}

.form-container {}

.btn-otp {
    width: 264px;
    height: 80px;
    background: #263238;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    /* identical to box height */
    color: #FFFFFF;
    &:hover {
        color: #000000;
        border: 2px solid #263238;
        background: #FFFFFF;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
}

#email {
    width: 450px;
    height: 80px;
    padding: 33px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #8F95A5;
    margin-right: 4px;
}

// contact us end
// -----------------------
// footer start
.footer {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #C4C4C4;
    }
    &__logo {}
    &__content {
        padding: 55px;
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */
            color: #8F95A5;
        }
    }
}

.dontadap {
    display: none;
}

#menu__toggle {
    display: none;
}

.logomenu {
    display: none;
}

@media (min-width:992px) and (max-width: 1102px) {
    @import "_992px";
}

@media (min-width: 772px) and (max-width: 992px) {
    @import "_772px";
}